// ======================================================================
// MAIN
// ======================================================================

html,
body {
  height: 100%;
  background: #eee;
}
// @media only screen and (max-device-width: 480px) {
// 	html,
// 	body{
// 		-webkit-text-size-adjust:none;
// 		text-size-adjust:none;
// 	}
// }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  vertical-align: top;
  box-sizing: border-box;
}
*::-moz-focus-inner {
  border: none;
  padding: 0;
}
a img {
  border: none;
  outline: none;
}
table {
  border-collapse: collapse;
}

// ======================================================================
// ACCESSIBILITY NAV
// ======================================================================

// #access {
//   display: block;
//   position: fixed;
//   overflow: hidden;
//   list-style: none;
//   top: -100px;
//   left: 0;
//   width: 100%;
//   height: 0;
//   padding: 5px;
//   margin: 0;
//   background: rgba(0, 0, 0, 0.8);
//   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
//   font-family: interstatebold;
//   text-align: center;
//   transition: top 500ms ease-in-out;
//
//   &:focus-within {
//     top: 0;
//     height: auto;
//     z-index: 7777;
//   }
//   li {
//     display: inline-block;
//   }
//   a {
//     display: inline-block;
//     padding: 10px 14px;
//     color: #fff;
//   }
//   a:hover,
//   a:focus {
//     background: rgba(255, 255, 255, 0.2);
//   }
// }

// ======================================================================
// WRAPPER
// ======================================================================

#wrapper {
  max-width: 940px;
  padding: 0 20px;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

#blocker {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &.visible {
    display: block;
  }
}

// ======================================================================
// COLUMN GRID
// ======================================================================

.row {
  position: relative;
  max-width: 1248px;
  margin: 0 auto;
}
.col,
.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
  position: relative;
  float: left;
  min-height: 1px;
  padding: 0 10px;
}
.col1 {
  width: percentage(1/12);
}
.col2 {
  width: percentage(2/12);
}
.col3 {
  width: percentage(3/12);
}
.col4 {
  width: percentage(4/12);
}
.col5 {
  width: percentage(5/12);
}
.col6 {
  width: percentage(6/12);
}
.col7 {
  width: percentage(7/12);
}
.col8 {
  width: percentage(8/12);
}
.col9 {
  width: percentage(9/12);
}
.col10 {
  width: percentage(10/12);
}
.col11 {
  width: percentage(11/12);
}
.col12 {
  width: 100%;
}

// TABLET
@media (max-width: 530px) {
  .col,
  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11 {
    width: 50%;
  }
}

// MOBILE
@media (max-width: 414px) {
  .col,
  .col1,
  .col2,
  .col3,
  .col4,
  .col5,
  .col6,
  .col7,
  .col8,
  .col9,
  .col10,
  .col11,
  .col12 {
    width: 100%;
    float: none;
  }
}
