// ======================================================================
// MOBILE
// ======================================================================

// select.selectric{
// 	padding:9px 26px 8px 6px;
// 	background-image:url(../images/common/dropdown.png);
// 	background-size:26px 35px;
// 	background-position:top right;
// 	background-repeat:no-repeat;
// 	background-color:#e6e6e6;
// 	font-size:18px;
// 	line-height:18px;
// }

// ======================================================================
// MAIN
// ======================================================================

.selectric-wrapper {
  position: relative;
  width: 100%;
  margin: 0;
  cursor: pointer;
}
.selectric-responsive {
  width: 100%;
}
.selectric {
  position: relative;
  background: #999;

  .label {
    display: block;
    height: 34px;
    white-space: nowrap;
    padding: 7px 9px;
    margin: 0 0 6px;
    // font-family: $interstate;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    overflow: hidden;
  }
  .button {
    display: none;
    // display:block;
    // position:absolute;
    // width:26px;
    // height:100%;
    // top:0;
    // right:0;
    // font-size:0;
    // line-height:0;
    // text-indent:-9999px;
    // background:url(../images/common/dropdown.png) center right no-repeat;
    // background-size:26px 35px;
    // background-position:center center;
  }
}

@media (max-width: 414px) {
  .selectric {
    .label {
      height: 36px;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.selectric-hover .selectric {
  // .button{
  // 	color:#888;
  //
  // 	&:after{
  // 		border-top-color:#888;
  // 	}
  // }
}

// ======================================================================
// OPEN
// ======================================================================

.selectric-open {
  z-index: 9;

  .selectric {
    z-index: 9;
  }
  .selectric-items {
    display: block;
  }
}
.selectric-disabled {
  opacity: 0.5;
  cursor: default;
  -webkit-touch-callout: none;
  user-select: none;
}
.selectric-hide-select {
  position: relative;
  width: 0;
  height: 0;
  overflow: hidden;

  select {
    position: absolute;
    left: -100%;
    display: none;
  }
}
.selectric-input {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  background: none !important;
  outline: none !important;
  clip: rect(0, 0, 0, 0) !important;
  *font: 0/0 a !important;
  overflow: hidden !important;
}
.selectric-temp-show {
  display: block !important;
  position: absolute !important;
  visibility: hidden !important;
}

// ======================================================================
// ITEMS BOX
// ======================================================================

.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #aaa;
  z-index: 8;
  overflow: auto;

  .selectric-above & {
    top: auto;
    bottom: 100%;
  }
  ul,
  li {
    list-style: none;
    min-height: 20px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
  }
  li {
    display: block;
    padding: 7px 9px;
    color: #fff;
    cursor: pointer;

    &.selected,
    &.highlighted {
      background: #888;
    }
    &:hover {
      background: #888;
    }
    &.disabled {
      background: #e6e6e6;
      color: #ccc;
      cursor: default;
    }
  }
}
