// ======================================================================
// DEVELOPER TOOLBAR
// ======================================================================

#developer {
  display: block;
  position: relative;
  width: 810px;
  padding: 0 0 40px;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 16px;
  color: #444;

  .inner {
    max-width: 1120px;
    margin: 0 auto;
  }
  .developer {
    padding: 10px 10px;
    border-top: 1px solid #ccc;
  }
  h1 {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
    letter-spacing: normal;
  }
  h2 {
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  a + a:before {
    display: inline-block;
    content: '•';
    margin: 0 6px 0 3px;
  }
  a:hover {
    text-decoration: underline;
  }
  h1,
  a {
    color: #444;
  }
  p {
    margin: 0;
  }
  p + p,
  p + h2 {
    margin-top: 6px;
  }
}
#developer.dark {
  color: #bbb;

  .developer {
    border-top: 1px solid #444;
  }
  h1,
  h2,
  a {
    color: #bbb;
  }
}
#developer.light {
  color: #ddd;

  h1,
  h2,
  p,
  a {
    color: #ddd;
  }
}

// #developer #controls a{
// 	margin:0 10px 0 0;
// }
// #developer #seekbar{
// 	display:block;
// 	position:relative;
// 	width:100%;
// 	height:15px;
// 	background:#999;
// 	margin:5px 0 10px;
// 	overflow:hidden;
// }
// #developer #seeker{
// 	display:block;
// 	position:absolute;
// 	width:60px;
// 	height:15px;
// 	top:0px;
// 	left:0;
// 	background:#666;
// 	cursor:pointer;
// }
