// ======================================================================
// WEB FONTS
// ======================================================================

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue.eot');
  src: url('../fonts/HelveticaNeue?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue.woff') format('woff'),
    url('../fonts/HelveticaNeue.ttf') format('truetype');
}

// ======================================================================
// MAIN FONTS
// ======================================================================

html,
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: lighter;
  color: #333;

  // -webkit-font-smoothing: antialiased !important;
}

h1 {
  font-size: 30px;
  line-height: 30px;
}
h2 {
  font-size: 25px;
  line-height: 25px;
}
h3 {
  font-size: 22px;
  line-height: 22px;
}
h4 {
  font-size: 18px;
  line-height: 18px;
}
h5 {
  font-size: 15px;
  line-height: 15px;
}
h6 {
  font-size: 13px;
  line-height: 13px;
}
p {
  margin: 10px 0 0;
}
a {
  cursor: pointer;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out, border-color 300ms ease-in-out;
}
a:hover {
}
ul,
ol {
  margin: 10px 0 0 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

// ======================================================================
// FONT STYLE OVERRIDES
// ======================================================================

.hidefont {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}

// ======================================================================
// BUTTONS
// ======================================================================

button {
  width: 200px;
  padding: 8px;
  margin: 20px 0 0;
  background: #333;
  border-radius: 2px;
  color: #fff;
}
