// ======================================================================
// INPUTS
// ======================================================================

input[type='text'],
input[type='password'],
input[type='submit'],
select,
textarea {
  appearance: none;
  box-sizing: border-box;
  border-radius: 0;
}
