// ======================================================================
// COMMON
// ======================================================================

#pages {
  display: block;
  position: relative;
  width: 810px;
  height: 600px;
  top: 0;
  left: 0;
  margin: 0 auto;
}
.page {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ddd;
}

// ======================================================================
// UPGRADE
// ======================================================================

#page_xupgrade {
  display: block;
}
#page_xupgrade .xupgrade {
  display: block !important;
}

// ======================================================================
// CLOSED
// ======================================================================

#page_closed {
  display: block;
}

// ======================================================================
// LOADING
// ======================================================================

#page_loading {
  display: block;
}

// ======================================================================
// LANDING
// ======================================================================

#page_landing {
}
