// ======================================================================
// POPUPS
// ======================================================================

#popups {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
}
#popups-blackout {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}
#popups-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
}
#popups-overflow {
  overflow: auto;
}

.popup {
  display: none;
  position: relative;
  width: 90%;
  max-width: 520px;
  margin: 0 auto;
  padding: 60px 40px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}
