// ======================================================================
// RETINA / HI DPI DETECTION
// ======================================================================

// #retina {
//   display: none;
// }
// @media (-webkit-min-device-pixel-ratio: 1.4), (min-resolution: 135dpi) {
//   #retina {
//     display: block;
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     top: 0;
//     left: 0;
//   }
// }

// ======================================================================
// CLEARFIXES
// ======================================================================

// .u-clear {
//   clear: both;
// }
// .u-clearfix:before,
// .u-clearfix:after {
//   content: '';
//   display: table;
// }
// .u-clearfix:after {
//   clear: both;
// }
// .u-clearfix {
//   zoom: 1;
// }

// ======================================================================
// BACKGROUNDS
// ======================================================================

// .u-bg-contain {
//   background-size: contain;
//   background-position: center center;
//   background-repeat: no-repeat;
// }
// .u-bg-cover {
//   background-size: cover;
//   background-position: center 40%;
//   background-repeat: no-repeat;
// }
// .u-bg-attached {
//   background-attachment: fixed;
// }

// ======================================================================
// FLEXBOX
// ======================================================================

// .u-flex-column-middle {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   position: relative;
//   height: 100%;
// }
// .u-flex-row-stretch {
//   display: flex;
//   flex-direction: row;
//   align-items: stretch;
//   position: relative;
//   height: 100%;
// }

// ======================================================================
// MEDIA QUERIES
// ======================================================================

// .u-desktop-only {
//   @media (max-width: 799px) {
//     display: none !important;
//   }
// }
// .u-desktop-tablet-only {
//   @media (max-width: 599px) {
//     display: none !important;
//   }
// }
// .u-mobile-only {
//   @media (min-width: 600px) {
//     display: none !important;
//   }
// }
// .u-mobile-tablet-only {
//   @media (min-width: 800px) {
//     display: none !important;
//   }
// }

// ======================================================================
// MISC
// ======================================================================

// .u-pointer-events-none {
//   pointer-events: none;
// }
// .u-will-change {
//   transform: translateZ(0);
//   will-change: transform;
// }
// .u-hidden {
//   display: none;
// }
// .u-body-wrap {
//   position: relative;
//
//   @media (min-width: 1024px) {
//     padding-right: percentage(180/940);
//   }
// }
// .u-overflow-hidden {
//   overflow: hidden;
// }
// .u-no-margin-content {
//   > *:first-child {
//     margin-top: 0;
//   }
//   > *:last-child {
//     margin-bottom: 0;
//   }
// }
