/**********************************************************************
// MAIN
**********************************************************************/

html,
body {
  background: #fafaf9 url(../images/bg.jpg) repeat;
  background-position: top center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: lighter;
  color: #333;
}
@media only screen and (max-device-width: 480px) {
  html,
  body {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::-moz-focus-inner {
  border: none;
  padding: 0;
}
a img {
  border: none;
  outline: none;
}

#access {
  display: none;
}

.clearme {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

input[type='text'],
input[type='password'],
input[type='submit'],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.midwrap {
  display: table !important;
  table-layout: fixed !important;
  width: 100%;
  height: 100%;
}
.midwrap2,
.midwrap td {
  display: table-cell;
  table-layout: fixed !important;
  vertical-align: middle;
  border-collapse: collapse;
}

.github {
  display: block;
  position: fixed;
  width: 140px;
  height: 140px;
  top: 0;
  right: 0;
  background: url(../images/github.png);
  background-repeat: no-repeat;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .github {
    background-image: url(../images/github@2x.png);
    background-size: 140px 140px;
  }
}
@media (max-width: 1200px) {
  .github {
    display: none;
  }
}

/**********************************************************************
// FONTS
**********************************************************************/

h1 {
  font-size: 28px;
  line-height: 33px;
  margin: 30px 0 22px;
  font-weight: lighter;
}
h2 {
  font-size: 26px;
  line-height: 30px;
  margin: 50px 0 17px;
  font-weight: lighter;
}
h2 span {
  font-size: 13px;
  font-weight: lighter;
  margin-left: 10px;
}
h3,
h4 {
  font-size: 15px;
  line-height: 18px;
  margin: 20px 0 11px;
  font-weight: bold;
}

p {
  margin-top: 10px;
}

h1:first-child,
h2:first-child {
  margin-top: 0;
}

a {
  cursor: pointer;
  color: #333;

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
a:hover {
  color: #888;
}

ul,
ol {
  margin-left: 30px;
}

.bold {
  font-weight: bold;
}
.red {
  color: #f00;
}

table {
  border-collapse: collapse;
}

.btn,
.btn:hover {
  display: inline-block;
  position: relative;
  padding: 7px 20px 7px;
  border-radius: 4px;
  background: #0da2da;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.btn:hover {
  background: #067199;
}

input[type='button'],
input[type='submit'],
input[type='reset'] {
  -webkit-appearance: none;
}

.no_selection {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}

/**********************************************************************
// HEADER
**********************************************************************/

#header {
  position: relative;
  width: 940px;
  margin: 0 auto 38px;
  padding: 45px 0 39px;
  border-bottom: 1px solid #ccc;
}
#header.landing {
  border-bottom: none;
  margin-bottom: 0;
}
#header h1.title {
  margin: 0;
  font-size: 31px;
  line-height: 31px;
  font-weight: bold;
  color: #97157d;
}
#header_nav {
  display: block;
  position: absolute;
  top: 47px;
  right: 0;
  list-style: none;
  text-align: right;
}
#header_nav li {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
}
#header_nav li.spacer {
  width: 1px;
  height: 27px;
  background: #ccc;
  margin: 0 6px -8px 12px;
}
#header_nav li a {
  display: block;
  position: relative;
  padding: 6px 12px 5px;
  margin-left: 6px;
  color: #fff;
  background: #bbb;
  text-decoration: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#header_nav li a:hover,
#header_nav li a.current {
  background: #97157d;
}
#header .btn_logout {
  display: block;
  position: absolute;
  bottom: -55px;
  right: 0;
  z-index: 10;
}
@media (max-width: 980px) {
  #header {
    width: auto;
    margin: 0 20px 38px;
  }
}
@media (max-width: 800px) {
  #header {
    padding: 40px 0 34px;
  }
  #header h1.title {
    font-size: 28px;
    line-height: 28px;
  }
  #header_nav {
    top: 41px;
  }
}
@media (max-width: 700px) {
  #header {
    padding: 35px 0 29px;
  }
  #header h1.title {
    font-size: 25px;
    line-height: 25px;
  }
  #header_nav {
    top: 35px;
  }
  #header_nav li {
    font-size: 14px;
    line-height: 14px;
  }
  #header_nav li a {
    padding: 5px 10px 4px;
    margin-left: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
}
@media (max-width: 600px) {
  #header {
    padding: 30px 0 24px;
  }
  #header h1.title {
    font-size: 22px;
    line-height: 22px;
  }
  #header_nav {
    top: 29px;
  }
}

/**********************************************************************
// FACEBOOK LOGIN
**********************************************************************/

.facebook_loading {
  display: inline-block;
  line-height: 20px;
  color: #333;
}
.facebook_login {
  display: none;
  position: relative;
  padding: 6px 12px 5px;
  margin-left: 10px;
  color: #fff;
  background: #bbb;
  text-decoration: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
}
.facebook_login:hover {
  color: #fff;
  background: #97157d;
}
.facebook_login .facebook_connect {
  display: block;
}
.facebook_login .facebook_connect:hover {
}
.facebook_login .facebook_play {
  display: none;
}
.facebook_login.revisit .facebook_play {
  display: block;
}
.facebook_login.revisit .facebook_play:hover {
}
.facebook_login.revisit .facebook_connect {
  display: none;
}

/**********************************************************************
// FOOTER
**********************************************************************/

#footer {
  display: block;
  position: relative;
  margin: 80px auto 0;
  padding: 40px 0;
  background: #333;
  color: #fff;
  border-top: 1px solid #000;
}
#footer.absolute {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
#footer_inner {
  display: block;
  position: relative;
  width: 940px;
  margin: 0 auto;
}

#footer_logo {
  display: block;
  position: relative;
  width: 241px;
  height: 60px;
  margin: -19px 0 25px 0;
  background: url(../images/footer_logo.png);
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

#footer_nav {
  list-style: none;
}
#footer_nav li {
  float: left;
  margin-right: 20px;
}
#footer_nav a {
  color: #fff;
  text-decoration: none;
}
#footer_nav a:hover {
  text-decoration: underline;
}

#footer_keyline {
  position: relative;
  height: 1px;
  background: #666;
  margin: 40px 0;
  font-size: 0;
  line-height: 0;
}
#footer_notes {
  font-size: 11px;
  line-height: 11px;
}
#footer_notes_left {
  float: left;
  width: 50%;
}
#footer_notes_right {
  float: left;
  width: 50%;
  text-align: right;
}
#footer_notes a {
  color: #fff;
  text-decoration: none;
}
#footer_notes a:hover {
  text-decoration: underline;
}
@media (max-width: 980px) {
  #footer_inner {
    width: auto;
    margin: 0 20px;
  }
}

/**********************************************************************
// CONTENT
**********************************************************************/

#content {
  display: block;
  position: relative;
  width: 940px;
  margin: 0 auto;
}
@media (max-width: 980px) {
  #content {
    width: auto;
    margin: 0 20px;
  }
}

/**********************************************************************
// MAIN
**********************************************************************/

.container {
  position: relative;
  width: auto;
  margin: 0 auto;
  padding: 0 0 38px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.container + .container {
  padding-top: 38px;
  border-top: 1px solid #e9e9e9;
}
.loading {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  background: url(../images/loading.gif);
}

input {
  width: 300px;
  padding: 8px 6px;
  border: 1px solid #ccc;
  margin: 0 20px 0 0;
  border-radius: 2px;
}
input.fullwidth {
  width: 100%;
}
#search_input {
  width: 750px;
}
#search_btn {
  width: 110px;
  padding: 9px 15px;
  margin: 0;
  background: #999;
  color: #fff;
  border: none;
  cursor: pointer;
}
#search_btn:hover {
  background: #666;
}

.videowrap {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 56.25%;
  margin: 0 auto 15px;
  background: #ddd;
}
.videowrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
